# Required
NODE_ENV=production
PORT=3000
NEXT_PUBLIC_SITE_URL=https://example.com
CONTACT_PROVIDER=noop

# Optional (global)

# Provider-specific
# webhook
# Required
CONTACT_WEBHOOK_URL=
# Optional
CONTACT_API_KEY=

# resend
# Required
RESEND_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=
